In [1]:
1+1

2

In [2]:
1+3

4

In [3]:
1*2

2

In [4]:
3*4

12

In [5]:
1/2

0.5

In [6]:
1-2

-1

In [7]:
5-2

3

In [8]:
5**2

25

In [9]:
17 % 3

2

In [10]:
5 * 3 + 2

17

In [11]:
Customer1= 2*10+3*6

In [12]:
Customer1

38

In [13]:
Tea=10

In [14]:
Snack=8

In [15]:
Customer2=5*Tea + 4*Snack

In [16]:
Customer2

82

In [17]:
print(Customer2)

82

In [18]:
print("Hello MyName")

Hello MyName

In [19]:
print("Customer2 bill  = ", Customer2)

Customer2 bill  =  82

In [20]:
print("Customer2 bill  = ", Customer2,"Rupees")

Customer2 bill  =  82 Rupees

In [21]:
GST = 12.5 / 100

In [22]:
Customer2GST = GST*Customer2

In [23]:
Customer2GST

10.25

In [24]:
CustomerNew = Customer2+Customer2GST

In [25]:
CustomerNew

92.25

In [26]:
Customer2= Customer2 + (GST*Customer2 )

In [27]:
print("Customer2 bill after GST = ", Customer2,"Rupees")

Customer2 bill after GST =  92.25 Rupees

In [28]:
t= input("Enter Price of Tea")

Enter Price of Tea 5

In [29]:
n=input("Number of Teas")

Number of Teas 5

In [30]:
t*n

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
type(t)

str

In [32]:
t

'5'

In [33]:
t=int(t)

In [34]:
n=int(n)

In [35]:
t*n

25

In [36]:
a = b = c = 1

In [37]:
a

1

In [38]:
b

1

In [39]:
c

1

In [40]:
a, b, c = 1, 2, "john"

In [41]:
a

1

In [42]:
b

2

In [43]:
c

'john'

In [44]:
type(a)

int

In [45]:
type(c)

str

In [46]:
x = 'Hello World!'

In [47]:
x[0]

'H'

In [48]:
x[0:1]

'H'

In [49]:
x[0:2]

'He'

In [50]:
x[0:3]

'Hel'

In [51]:
x[0:5]

'Hello'

In [52]:
x[2:]

'llo World!'

In [53]:
x[1:]

'ello World!'

In [54]:
x[-1]

'!'

In [55]:
x[-2]

'd'

In [56]:
x*2

'Hello World!Hello World!'

In [57]:
x+x

'Hello World!Hello World!'

In [58]:
x = 50
if ( x == 100 ) : 
    print ("Value of expression is 100")

In [59]:
a = 21
b = 10

if ( a == b ):
   print ("Line 1 - a is equal to b")
else:
   print ("Line 1 - a is not equal to b")

if ( a != b ):
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

if ( a < b ):
   print ("Line 3 - a is less than b" )
else:
   print ("Line 3 - a is not less than b")

if ( a > b ):
   print ("Line 4 - a is greater than b")
else:
   print ("Line 4 - a is not greater than b")

a,b = b,a #values of a and b swapped. a becomes 10, b becomes 21

if ( a <= b ):
   print ("Line 5 - a is either less than or equal to  b")
else:
   print ("Line 5 - a is neither less than nor equal to  b")

if ( b >= a ):
   print ("Line 6 - b is either greater than  or equal to b")
else:
   print ("Line 6 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to  b
Line 6 - b is either greater than  or equal to b

In [60]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]

if ( a in list ):
   print ("Line 1 - a is available in the given list")
else:
   print ("Line 1 - a is not available in the given list")

if ( b not in list ):
   print ("Line 2 - b is not available in the given list")
else:
   print ("Line 2 - b is available in the given list")

c = b/a
if ( c in list ):
   print ("Line 3 - a is available in the given list")
else:
   print ("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [61]:
a = 60            # 60 = 0011 1100
b = 13            # 13 = 0000 1101
print ('a=',a,':',bin(a),'b=',b,':',bin(b))
c = 0

c = a & b;        # 12 = 0000 1100
print ("result of AND is ", c,':',bin(c))

c = a | b;        # 61 = 0011 1101 
print ("result of OR is ", c,':',bin(c))

c = a ^ b;        # 49 = 0011 0001
print ("result of EXOR is ", c,':',bin(c))

c = ~a;           # -61 = 1100 0011
print ("result of COMPLEMENT is ", c,':',bin(c))

c = a << 2;       # 240 = 1111 0000
print ("result of LEFT SHIFT is ", c,':',bin(c))

c = a >> 2;       # 15 = 0000 1111
print ("result of RIGHT SHIFT is ", c,':',bin(c))

a= 60 : 0b111100 b= 13 : 0b1101
result of AND is  12 : 0b1100
result of OR is  61 : 0b111101
result of EXOR is  49 : 0b110001
result of COMPLEMENT is  -61 : -0b111101
result of LEFT SHIFT is  240 : 0b11110000
result of RIGHT SHIFT is  15 : 0b1111

In [62]:
a = 20
b = 20
print ('Line 1','a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is b ):
   print ("Line 2 - a and b have same identity")
else:
   print ("Line 2 - a and b do not have same identity")

if ( id(a) == id(b) ):
   print ("Line 3 - a and b have same identity")
else:
   print ("Line 3 - a and b do not have same identity")

b = 30
print ('Line 4','a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is not b ):
   print ("Line 5 - a and b do not have same identity")
else:
   print ("Line 5 - a and b have same identity")

Line 1 a= 20 : 10915104 b= 20 : 10915104
Line 2 - a and b have same identity
Line 3 - a and b have same identity
Line 4 a= 20 : 10915104 b= 30 : 10915424
Line 5 - a and b do not have same identity

In [63]:
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c )

c *= a
print ("Line 3 - Value of c is ", c )

c /= a 
print ("Line 4 - Value of c is ", c )

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

In [67]:
amount = int(input("Enter amount: "))

if amount<1000:
   discount = amount*0.05
   print ("Discount",discount)
else:
   discount = amount*0.10
   print ("Discount",discount)
    
print ("Net payable:",amount-discount)

Enter amount:  3

Discount 0.15000000000000002
Net payable: 2.85

In [90]:
amount = int(input("Enter amount: "))

if amount<1000:
   discount = amount*0.05
   print ("Discount",discount)
elif amount<5000:
   discount = amount*0.10
   print ("Discount",discount)
else:
   discount = amount*0.15
   print ("Discount",discount)
    
print ("Net payable:",amount-discount)

Enter amount:  123

Discount 6.15
Net payable: 116.85

In [69]:
5%2

1

In [70]:
6%3

0

In [71]:
12%3

0

In [72]:
7%2

1

In [73]:
8%3

2

In [89]:
num = int(input("enter number"))
if num%2 == 0:
   if num%3 == 0:
      print ("Divisible by 3 and 2")
   else:
      print ("divisible by 2 not divisible by 3")
else:
   if num%3 == 0:
      print ("divisible by 3 not divisible by 2")
   else:
      print  ("not Divisible by 2 not divisible by 3")

enter number 6

Divisible by 3 and 2

In [82]:
count = 0
while (count < 9):
   print ('The count is:', count)
   count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [83]:
var = 1
while var == 1 :  # This constructs an infinite loop
   num = int(input("Enter a number  :"))
   print ("You entered: ", num)

Enter a number  :

ValueError: invalid literal for int() with base 10: ''

In [84]:
count = 0
while count < 5:
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [85]:
k=[1,2,3,4,5]

In [86]:
for x in k:
   print (x)

1
2
3
4
5

In [87]:
for x in 'Python':
    print ('Current Letter :', x)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [88]:
fruits = ['banana', 'apple',  'mango']
for c in range(len(fruits)):
   print ('Current fruit :', fruits[c])

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [91]:
abs(-45)

45

In [92]:
import math

math.log( 5 )

1.6094379124341003

In [93]:
math.log( 10 )

2.302585092994046

In [94]:
max(80, 100, 1000)

1000

In [95]:
max(0, 100, -400)

100

In [96]:
x=max(0, 100, -400)

In [97]:
x

100

In [98]:
min(80, 100, 1000)

80

In [99]:
import math

math.log10( 10 )

1.0

In [100]:
math.pow(2, 4)

16.0

In [101]:
math.sqrt( 16 )

4.0

In [102]:
math.sqrt( 2 )

1.4142135623730951

In [107]:
import random
random.random()

0.34353991534807315

In [110]:
math.sin(3)

0.1411200080598672

In [112]:
math.cos(6)

0.960170286650366

In [114]:
math.sin(math.pi/2)

1.0

In [115]:
x="Python Programming"

In [116]:
y="For AI"

In [117]:
x+y

'Python ProgrammingFor AI'

In [119]:
x+" "+y

'Python Programming For AI'

In [122]:
x.capitalize()

'Python programming'

In [131]:
var1 = 'Hello World!'
print ("Updated String :- ", var1[:6] + 'Python')

Updated String :-  Hello Python

In [133]:
 b = "Hello, World"
print(b[-5:-2])

Wor

In [134]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [135]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [136]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [137]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [138]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [139]:
 txt = "The rain in Spain stays mainly in the plain"
x = "sta" in txt
print(x)

True

In [140]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [141]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [142]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [143]:
 txt = "Company 12"

x = txt.isalnum()

print(x)

False

In [144]:
 txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [145]:
 txt = "123"

x = txt.isalpha()

print(x)

False

In [146]:

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [148]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter