In [1]:
1+1

2

In [2]:
1+3

4

In [3]:
1*2

2

In [4]:
3*4

12

In [5]:
1/2

0.5

In [6]:
1-2

-1

In [7]:
5-2

3

In [8]:
5**2

25

In [9]:
17 % 3

2

In [10]:
5 * 3 + 2

17

In [16]:
Customer1= 2*10+3*6

In [17]:
Customer1

38

In [40]:
Tea=10

In [41]:
Snack=8

In [42]:
Customer2=5*Tea + 4*Snack

In [43]:
Customer2

82

In [44]:
print(Customer2)

82

In [45]:
print("Hello MyName")

Hello MyName

In [46]:
print("Customer2 bill  = ", Customer2)

Customer2 bill  =  82

In [47]:
print("Customer2 bill  = ", Customer2,"Rupees")

Customer2 bill  =  82 Rupees

In [64]:
GST = 12.5 / 100

In [65]:
Customer2GST = GST*Customer2

In [66]:
Customer2GST

11.53125

In [67]:
CustomerNew = Customer2+Customer2GST

In [68]:
CustomerNew

103.78125

In [69]:
Customer2= Customer2 + (GST*Customer2 )

In [70]:
print("Customer2 bill after GST = ", Customer2,"Rupees")

Customer2 bill after GST =  103.78125 Rupees

In [75]:
t= input("Enter Price of Tea")

Enter Price of Tea 4

In [77]:
n=input("Number of Teas")

Number of Teas 3

In [81]:
t*n

TypeError: can't multiply sequence by non-int of type 'str'

In [82]:
type(t)

str

In [83]:
t

'4'

In [84]:
t=int(t)

In [85]:
n=int(n)

In [86]:
t*n

12

In [87]:
a = b = c = 1

In [88]:
a

1

In [89]:
b

1

In [90]:
c

1

In [91]:
a, b, c = 1, 2, "john"

In [92]:
a

1

In [93]:
b

2

In [94]:
c

'john'

In [95]:
type(a)

int

In [96]:
type(c)

str

In [98]:
x = 'Hello World!'

In [99]:
x[0]

'H'

In [101]:
x[0:1]

'H'

In [102]:
x[0:2]

'He'

In [103]:
x[0:3]

'Hel'

In [105]:
x[0:5]

'Hello'

In [106]:
x[2:]

'llo World!'

In [107]:
x[1:]

'ello World!'

In [108]:
x[-1]

'!'

In [109]:
x[-2]

'd'

In [110]:
x*2

'Hello World!Hello World!'

In [111]:
x+x

'Hello World!Hello World!'

In [112]:
a = 21
b = 10

if ( a == b ):
   print ("Line 1 - a is equal to b")
else:
   print ("Line 1 - a is not equal to b")

if ( a != b ):
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

if ( a < b ):
   print ("Line 3 - a is less than b" )
else:
   print ("Line 3 - a is not less than b")

if ( a > b ):
   print ("Line 4 - a is greater than b")
else:
   print ("Line 4 - a is not greater than b")

a,b = b,a #values of a and b swapped. a becomes 10, b becomes 21

if ( a <= b ):
   print ("Line 5 - a is either less than or equal to  b")
else:
   print ("Line 5 - a is neither less than nor equal to  b")

if ( b >= a ):
   print ("Line 6 - b is either greater than  or equal to b")
else:
   print ("Line 6 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to  b
Line 6 - b is either greater than  or equal to b

In [113]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]

if ( a in list ):
   print ("Line 1 - a is available in the given list")
else:
   print ("Line 1 - a is not available in the given list")

if ( b not in list ):
   print ("Line 2 - b is not available in the given list")
else:
   print ("Line 2 - b is available in the given list")

c = b/a
if ( c in list ):
   print ("Line 3 - a is available in the given list")
else:
   print ("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

In [114]:
a = 60            # 60 = 0011 1100
b = 13            # 13 = 0000 1101
print ('a=',a,':',bin(a),'b=',b,':',bin(b))
c = 0

c = a & b;        # 12 = 0000 1100
print ("result of AND is ", c,':',bin(c))

c = a | b;        # 61 = 0011 1101 
print ("result of OR is ", c,':',bin(c))

c = a ^ b;        # 49 = 0011 0001
print ("result of EXOR is ", c,':',bin(c))

c = ~a;           # -61 = 1100 0011
print ("result of COMPLEMENT is ", c,':',bin(c))

c = a << 2;       # 240 = 1111 0000
print ("result of LEFT SHIFT is ", c,':',bin(c))

c = a >> 2;       # 15 = 0000 1111
print ("result of RIGHT SHIFT is ", c,':',bin(c))

a= 60 : 0b111100 b= 13 : 0b1101
result of AND is  12 : 0b1100
result of OR is  61 : 0b111101
result of EXOR is  49 : 0b110001
result of COMPLEMENT is  -61 : -0b111101
result of LEFT SHIFT is  240 : 0b11110000
result of RIGHT SHIFT is  15 : 0b1111

In [115]:
a = 20
b = 20
print ('Line 1','a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is b ):
   print ("Line 2 - a and b have same identity")
else:
   print ("Line 2 - a and b do not have same identity")

if ( id(a) == id(b) ):
   print ("Line 3 - a and b have same identity")
else:
   print ("Line 3 - a and b do not have same identity")

b = 30
print ('Line 4','a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is not b ):
   print ("Line 5 - a and b do not have same identity")
else:
   print ("Line 5 - a and b have same identity")

Line 1 a= 20 : 10915104 b= 20 : 10915104
Line 2 - a and b have same identity
Line 3 - a and b have same identity
Line 4 a= 20 : 10915104 b= 30 : 10915424
Line 5 - a and b do not have same identity

In [116]:
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c )

c *= a
print ("Line 3 - Value of c is ", c )

c /= a 
print ("Line 4 - Value of c is ", c )

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

In [118]:

var = 100
if ( var  == 100 ) : 
    print ("Value of expression is 100")

Value of expression is 100

In [119]:

var = 50
if ( var  == 100 ) : 
    print ("Value of expression is 100")